<p class="pull-right">
  <%= link_to "show #{@user.username}", user_path(@user), class: "btn btn-info" %>
  <%= link_to "add a new user", new_user_path, class: "btn btn-info" %>
  <%= link_to "list all users", users_path, class: "btn btn-info" %>
</p>

<h1>Edit <%= @user.username %></h1>

<%= render "form" %>
